

    <div class="example-container">


      <div class="row">
        <div class="col-md-5">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company (disabled)" disabled>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email address" type="email">
          </mat-form-field>
        </div>
      </div>
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Input">-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Input" >-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Input" >-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Input" >-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
      <!--<textarea matInput placeholder="Textarea"></textarea>-->
      <!--</mat-form-field>-->

      <!--<mat-form-field>-->
      <!--<mat-select placeholder="Select">-->
      <!--<mat-option value="option">Option</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
        <!--<button mat-raised-button color="primary" type="submit">登录</button>-->
      <!--</mat-form-field>-->
    </div>


<!--<div class="other">-->
  <!--其他登录方式-->
  <!--<i title="in fact Auth0 via window" (click)="open('auth0', 'window')" class="anticon anticon-alipay-circle icon"></i>-->
  <!--<i title="in fact Github via redirect" (click)="open('taobao')" class="anticon anticon-taobao-circle icon"></i>-->
  <!--<i title="真的是微博" (click)="open('weibo', 'window')" class="anticon anticon-weibo-circle icon"></i>-->
  <!--<a class="register" routerLink="/passport/register">注册账户</a>-->
<!--</div>-->
