<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title ">Simple Table</h4>
    <p class="card-category"> Here is a subtitle for this table</p>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
        <th *ngFor="let cell of columns">{{cell.title}}</th>
        </thead>
        <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let cell of columns; let idx = index">
            <ng-container *ngIf="cell['type'] == 'op'">
              <button mat-button (click)="cell['click']">del</button>
            </ng-container>
            <ng-container *ngIf="cell['type'] == 'td'">
              {{row[cell['index']]}}
            </ng-container>
            <ng-container *ngIf="cell['type'] == 'rd'">
              <ng-content></ng-content>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageChange($event)"
  >
  </mat-paginator>

</div>
